a {
	color: #dbb32d;
}

h1 {
	margin-bottom: 0;
}

hr {
	color: #184956;
}

html {
	background-color: #103c48;
	color: #adbcbc;
	font-family: sans-serif;
	font-size: 1.5em;
	line-height: 1.5;
	margin-left: 15%;
	margin-right: 15%;
}

.subhead {
	font-size: smaller;
	margin-top: 0;
}
